<% was_validated = user_customized_cocktail.errors.any? %>

<%= form_with(model: user_customized_cocktail, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = user_customized_cocktail.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% user_customized_cocktail.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for cocktail_id start -->
  <div class="form-group">
    <% cocktail_class = "form-control" %>
    <% cocktail_was_invalid = user_customized_cocktail.errors.include?(:cocktail) %>

    <% if was_validated %>
      <% if cocktail_was_invalid %>
        <% cocktail_class << " is-invalid" %>
      <% else %>
        <% cocktail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cocktail_id %>
    <!-- Input for cocktail_id start -->
    <%= f.collection_select :cocktail_id, CocktailDetail.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for cocktail_id end -->
    <% if cocktail_was_invalid %>
      <% user_customized_cocktail.errors.full_messages_for(:cocktail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for cocktail_id end -->
  <!-- Label and input for ingredient_id start -->
  <div class="form-group">
    <% ingredient_class = "form-control" %>
    <% ingredient_was_invalid = user_customized_cocktail.errors.include?(:ingredient) %>

    <% if was_validated %>
      <% if ingredient_was_invalid %>
        <% ingredient_class << " is-invalid" %>
      <% else %>
        <% ingredient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ingredient_id %>
    <!-- Input for ingredient_id start -->
    <%= f.collection_select :ingredient_id, SpiritsBrand.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for ingredient_id end -->
    <% if ingredient_was_invalid %>
      <% user_customized_cocktail.errors.full_messages_for(:ingredient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for ingredient_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
