<%= form_with(model: @user_customized_cocktail, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :cocktail_id, value: @cocktail_detail.id %>

  <div class="form-group">
    <%= f.label :ingredient_id %>

    <%= f.collection_select :ingredient_id, SpiritsBrand.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create user customized cocktail", class: "btn btn-block btn-outline-secondary" %>
<% end %>
