<div class="card mb-3">
  <h2 class="card-header h4">
    Store #<%= store.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Store name</dt>
      <!-- Display store_name start -->
      <dd><%= store.store_name %></dd>
      <!-- Display store_name end -->

      <dt>Location</dt>
      <!-- Display location start -->
      <dd><%= store.location %></dd>
      <!-- Display location end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back store, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link store start -->
      <div class="col">
        <%= link_to edit_store_url(store), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link store end -->

      <!-- Delete link store start -->
      <div class="col">
        <%= link_to store, method: :delete, data: { confirm: "Do you really want to delete this store?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link store end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(store.updated_at) %> ago
  </div>
</div>
