<!-- Form store_inventory start -->
<%= form_with(model: @store_inventory, local: true) do |f| %>
<!-- Form store_inventory end -->

  <!-- Label and input for store_id start -->
  <!-- Input for store_id start -->
  <%= f.hidden_field :store_id, value: @store.id %>
  <!-- Input for store_id end -->
  <!-- Label and input for store_id end -->

  <!-- Label and input for price start -->
  <div class="form-group">
    <%= f.label :price %>

    <!-- Input for price start -->
    <%= f.text_field :price, class: "form-control" %>
    <!-- Input for price end -->
  </div>
  <!-- Label and input for price end -->

  <!-- Label and input for ingredient_id start -->
  <div class="form-group">
    <%= f.label :ingredient_id %>

    <!-- Input for ingredient_id start -->
    <%= f.collection_select :ingredient_id, SpiritsBrand.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for ingredient_id end -->
  </div>
  <!-- Label and input for ingredient_id end -->

  <%= f.submit "Create store inventory", class: "btn btn-block btn-outline-secondary" %>
<% end %>
