<!-- Form cocktail_favorites_user start -->
<%= form_with(model: @cocktail_favorites_user, local: true) do |f| %>
<!-- Form cocktail_favorites_user end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for cocktail_id start -->
  <div class="form-group">
    <%= f.label :cocktail_id %>

    <!-- Input for cocktail_id start -->
    <%= f.text_field :cocktail_id, class: "form-control" %>
    <!-- Input for cocktail_id end -->
  </div>
  <!-- Label and input for cocktail_id end -->

  <%= f.submit "Create cocktail favorites user", class: "btn btn-block btn-outline-secondary" %>
<% end %>
