<%= form_with(model: @user_customized_cocktail, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :cocktail_id %>

    <%= f.collection_select :cocktail_id, CocktailDetail.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient_id %>

    <%= f.collection_select :ingredient_id, SpiritsBrand.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create user customized cocktail", class: "btn btn-block btn-outline-secondary" %>
<% end %>
