<%= form_with(model: @cocktail_recipes_standard, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :cocktail_id %>

    <%= f.collection_select :cocktail_id, CocktailDetail.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :ingredient_id, value: @spirits_detail.id %>

  <div class="form-group">
    <%= f.label :quantity %>

    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <%= f.submit "Create cocktail recipes standard", class: "btn btn-block btn-outline-secondary" %>
<% end %>
