<div class="card mb-3">
  <h2 class="card-header h4">
    Cocktail Recipes Standard #<%= cocktail_recipes_standard.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Cocktail</dt>
      <!-- Display cocktail_id start -->
      <dd>
        <% if @cocktail_recipes_standard.cocktail.present? %>
          <%= link_to cocktail_recipes_standard.cocktail, cocktail_recipes_standard.cocktail %>
        <% end %>
      </dd>
      <!-- Display cocktail_id end -->

      <dt>Ingredient</dt>
      <!-- Display ingredient_id start -->
      <dd>
        <% if @cocktail_recipes_standard.ingredient.present? %>
          <%= link_to cocktail_recipes_standard.ingredient, cocktail_recipes_standard.ingredient %>
        <% end %>
      </dd>
      <!-- Display ingredient_id end -->

      <dt>Quantity</dt>
      <!-- Display quantity start -->
      <dd><%= cocktail_recipes_standard.quantity %></dd>
      <!-- Display quantity end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back cocktail_recipes_standard, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link cocktail_recipes_standard start -->
      <div class="col">
        <%= link_to edit_cocktail_recipes_standard_url(cocktail_recipes_standard), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link cocktail_recipes_standard end -->

      <!-- Delete link cocktail_recipes_standard start -->
      <div class="col">
        <%= link_to cocktail_recipes_standard, method: :delete, data: { confirm: "Do you really want to delete this cocktail_recipes_standard?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link cocktail_recipes_standard end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(cocktail_recipes_standard.updated_at) %> ago
  </div>
</div>
