<% was_validated = cocktail_recipes_standard.errors.any? %>

<%= form_with(model: cocktail_recipes_standard, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% cocktail_class = "form-control" %>
    <% cocktail_was_invalid = cocktail_recipes_standard.errors.include?(:cocktail) %>

    <% if was_validated %>
      <% if cocktail_was_invalid %>
        <% cocktail_class << " is-invalid" %>
      <% else %>
        <% cocktail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cocktail_id %>
    <%= f.collection_select :cocktail_id, CocktailDetail.all, :id, :to_s, {}, class: "form-control" %>
    <% if cocktail_was_invalid %>
      <% cocktail_recipes_standard.errors.full_messages_for(:cocktail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% ingredient_class = "form-control" %>
    <% ingredient_was_invalid = cocktail_recipes_standard.errors.include?(:ingredient) %>

    <% if was_validated %>
      <% if ingredient_was_invalid %>
        <% ingredient_class << " is-invalid" %>
      <% else %>
        <% ingredient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ingredient_id %>
    <%= f.collection_select :ingredient_id, SpiritsDetail.all, :id, :to_s, {}, class: "form-control" %>
    <% if ingredient_was_invalid %>
      <% cocktail_recipes_standard.errors.full_messages_for(:ingredient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% quantity_class = "form-control" %>
    <% quantity_was_invalid = cocktail_recipes_standard.errors.include?(:quantity) %>

    <% if was_validated %>
      <% if quantity_was_invalid %>
        <% quantity_class << " is-invalid" %>
      <% else %>
        <% quantity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: quantity_class, placeholder: "Enter quantity" %>
    <% if quantity_was_invalid %>
      <% cocktail_recipes_standard.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
