<% was_validated = user_bar_cart.errors.any? %>

<%= form_with(model: user_bar_cart, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = user_bar_cart.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_was_invalid %>
      <% user_bar_cart.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% spirit_brand_class = "form-control" %>
    <% spirit_brand_was_invalid = user_bar_cart.errors.include?(:spirit_brand) %>

    <% if was_validated %>
      <% if spirit_brand_was_invalid %>
        <% spirit_brand_class << " is-invalid" %>
      <% else %>
        <% spirit_brand_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :spirit_brand_id %>
    <%= f.collection_select :spirit_brand_id, SpiritsBrand.all, :id, :to_s, {}, class: "form-control" %>
    <% if spirit_brand_was_invalid %>
      <% user_bar_cart.errors.full_messages_for(:spirit_brand).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% quantity_class = "form-control" %>
    <% quantity_was_invalid = user_bar_cart.errors.include?(:quantity) %>

    <% if was_validated %>
      <% if quantity_was_invalid %>
        <% quantity_class << " is-invalid" %>
      <% else %>
        <% quantity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: quantity_class, placeholder: "Enter quantity" %>
    <% if quantity_was_invalid %>
      <% user_bar_cart.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
