<% was_validated = cocktail_favorites_user.errors.any? %>

<%= form_with(model: cocktail_favorites_user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% cocktail_class = "form-control" %>
    <% cocktail_was_invalid = cocktail_favorites_user.errors.include?(:cocktail) %>

    <% if was_validated %>
      <% if cocktail_was_invalid %>
        <% cocktail_class << " is-invalid" %>
      <% else %>
        <% cocktail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cocktail_id %>
    <%= f.collection_select :cocktail_id, CocktailDetail.all, :id, :to_s, {}, class: "form-control" %>
    <% if cocktail_was_invalid %>
      <% cocktail_favorites_user.errors.full_messages_for(:cocktail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
