<div class="card mb-3">
  <h2 class="card-header h4">
    Spirits Brand #<%= spirits_brand.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Spirit</dt>
      <!-- Display spirit_id start -->
      <dd><%= spirits_brand.spirit_id %></dd>
      <!-- Display spirit_id end -->

      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= spirits_brand.name %></dd>
      <!-- Display name end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= spirits_brand.description %></dd>
      <!-- Display description end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back spirits_brand, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link spirits_brand start -->
      <div class="col">
        <%= link_to edit_spirits_brand_url(spirits_brand), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link spirits_brand end -->

      <!-- Delete link spirits_brand start -->
      <div class="col">
        <%= link_to spirits_brand, method: :delete, data: { confirm: "Do you really want to delete this spirits_brand?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link spirits_brand end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(spirits_brand.updated_at) %> ago
  </div>
</div>
