<% was_validated = spirits_brand.errors.any? %>

<%= form_with(model: spirits_brand, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% spirit_class = "form-control" %>
    <% spirit_was_invalid = spirits_brand.errors.include?(:spirit) %>

    <% if was_validated %>
      <% if spirit_was_invalid %>
        <% spirit_class << " is-invalid" %>
      <% else %>
        <% spirit_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :spirit_id %>
    <%= f.collection_select :spirit_id, SpiritsDetail.all, :id, :to_s, {}, class: "form-control" %>
    <% if spirit_was_invalid %>
      <% spirits_brand.errors.full_messages_for(:spirit).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = spirits_brand.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% spirits_brand.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = spirits_brand.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% spirits_brand.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
