<!-- Form user_bar_cart start -->
<%= form_with(model: @user_bar_cart, local: true) do |f| %>
<!-- Form user_bar_cart end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for spirit_brand_id start -->
  <!-- Input for spirit_brand_id start -->
  <%= f.hidden_field :spirit_brand_id, value: @spirits_brand.id %>
  <!-- Input for spirit_brand_id end -->
  <!-- Label and input for spirit_brand_id end -->

  <!-- Label and input for quantity start -->
  <div class="form-group">
    <%= f.label :quantity %>

    <!-- Input for quantity start -->
    <%= f.text_field :quantity, class: "form-control" %>
    <!-- Input for quantity end -->
  </div>
  <!-- Label and input for quantity end -->

  <%= f.submit "Create user bar cart", class: "btn btn-block btn-outline-secondary" %>
<% end %>
