<%= form_with(model: @user_bar_cart, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :spirit_brand_id, value: @spirits_brand.id %>

  <div class="form-group">
    <%= f.label :quantity %>

    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <%= f.submit "Create user bar cart", class: "btn btn-block btn-outline-secondary" %>
<% end %>
