<div class="card mb-3">
  <h2 class="card-header h4">
    Store Inventory #<%= store_inventory.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Store</dt>
      <!-- Display store_id start -->
      <dd>
        <% if @store_inventory.store.present? %>
          <%= link_to store_inventory.store, store_inventory.store %>
        <% end %>
      </dd>
      <!-- Display store_id end -->

      <dt>Price</dt>
      <!-- Display price start -->
      <dd><%= store_inventory.price %></dd>
      <!-- Display price end -->

      <dt>Ingredient</dt>
      <!-- Display ingredient_id start -->
      <dd>
        <% if @store_inventory.ingredient.present? %>
          <%= link_to store_inventory.ingredient, store_inventory.ingredient %>
        <% end %>
      </dd>
      <!-- Display ingredient_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back store_inventory, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link store_inventory start -->
      <div class="col">
        <%= link_to edit_store_inventory_url(store_inventory), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link store_inventory end -->

      <!-- Delete link store_inventory start -->
      <div class="col">
        <%= link_to store_inventory, method: :delete, data: { confirm: "Do you really want to delete this store_inventory?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link store_inventory end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(store_inventory.updated_at) %> ago
  </div>
</div>
